<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Manage Gaming Floor</h4>
            <p class="card-category">Add or Upload Areas, Pits, Clusters and Table Games...</p>
        </div>
        <div class="card-body">
            <div>
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                    <!-- This is the tree node template for leaf nodes -->
                    <!-- There is inline padding applied to this node using styles.
                      This padding value depends on the mat-icon-button width. -->
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                        {{node.name}}
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                        <div class="mat-tree-node">
                          <button mat-icon-button matTreeNodeToggle
                                  [attr.aria-label]="'Toggle ' + node.name">
                            <i class="material-icons">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</i>
                          </button>
                          {{node.name}}
                        </div>
                        <!-- There is inline padding applied to this div using styles.
                            This padding value depends on the mat-icon-button width.  -->
                        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                            role="group">
                          <ng-container matTreeNodeOutlet></ng-container>
                      </div>
                    </mat-nested-tree-node>
                  </mat-tree>                  
            </div>
        </div>
    </div>
</div>
